<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>{{ num }}단</h1>
    {% for result in results %}
    {# {% for i, result in results %} #}
        <p>{{ num }} X {{ forloop.counter }} = {{ result }}</p>
        {# <p>{{ i }} X {{ forloop.counter }} = {{ result }}</p> #}
    {% endfor %}

    {# {%for i in range %} #}
        {# <p>{{ num }} X {{ i }} = {% widthratio num 1 i %}#}
    {# {% endfor %} #}
    {# num / 1 * i #}
</body>
</html>