{% extends 'base.html' %}
{% block content %}
    <div class="mt-2">
        <h1 class="d-inline">블로그 목록 {{ count }}</h1>
        <a href="{% url 'blog:create' %}" class="float-end btn btn-sm btn-primary">새 글 작성</a>
    </div>

    <hr>
    {# settings.py의 MIDDLEWARE에 'django.contrib.auth.middleware.AuthenticationMiddleware'가 포함되어 있어 request.user 사용 가능 #}

    {% for blog in object_list %}
       <div class="my-1" >
           <a href="{% url 'blog:detail' blog.pk %}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
               [{{ blog.get_category_display }}] {{ blog.title }} <span>({{ blog.author.username }})</span> - <small>{{ blog.created_at | date:"Y-m-d" }}</small></a>
            {# <a href="/blog/{{ blog.pk }}/">{{ blog.title }} - <small>{{ blog.created_at | date:"Y-m-d"}}</small></a> #}
       </div>
    {% endfor %}

    <form method="get" class="my-3 d-flex">
        {# name은 q변수, value는 서버에서 처리한 내용 출력 #}
        <input class="form-control-sm" name=q type="text" placeholder="검색어를 입력하세요." value="{% if request.GET.q %}{{ request.GET.q }}{% endif %}">
        <button class="btn btn-sm btn-info ms-2">검색</button>
    </form>

    {% include 'pagination.html' %}
{% endblock %}

<!--
object_list: 현재 페이지에 포함된 실제 데이터 목록 (예: 글 10개)
number: 현재 페이지 번호
has_previous: 이전 페이지가 있으면 True
has_next: 다음 페이지가 있으면 True
previous_page_number(): 이전 페이지 번호 반환
next_page_number(): 다음 페이지 번호 반환
paginator: 전체 페이지네이터 객체 (총 페이지 수 등 포함)
-->
